.register-employee-main {
    height: 100svh;
    width: 100svw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;    
}
.register-employee-body{
    height: 90%;
    width: 100%;
}
.register-employee-left-sidebar{
    height: 100%;
    width: 20%;
    border-right: 2px solid #0076a6;
    background-color: #333333;
}

