.login-main{
    height: 100svh;
    width: 100svw;
    overflow: hidden;
    background-image: url(../../public/image/login-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%  100%;
}
.login-div{
    border: 0.6px solid grey;
    height: 80svh;
    width: 80svw;
    border-radius: 10px;
}
.left{
    height: 100%;
    width: 50%;
    background-image: url(../../public/image/Office.gif);
    background-position: center;
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.right{
    height: 100%;
    width: 50%;
    background-color: white;
}
.credentials {
    width: 70%;
    height: 20%;
}

.credentials h4 {
    width: 30%;
}

.credentials input {
    width: 80%;
    padding: 2%;
    border-radius: 5px;
    border: 0.8px solid gray;
}
.button-div {
    width: 100%;
    height: 25%;
}

.login{
    font-size: 1em;
    padding: 2.5% 10%;
    width: 30%;
    margin: 1%;
    color: white;
    border: 0.8px solid grey;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    background-color: #0076a6;
    font-family: 'Exo', sans-serif;
    letter-spacing: 1.5px;
}

.login:hover{
    box-shadow: 1px 1px 3px skyblue;
    border: 2px;
}